.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 10px 24px 8px #dfeaf0;
}

.drawers {
  display: inherit;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 250px;

  img {
    height: auto;
    width: 282px;
  }
}

.right-section {
  max-width: 400px;
  padding: 40px;
}

.bottom-section {
  display: flex;
  align-items: center;

  .detail {
    flex: 2;
    padding-left: 16px;
  }

  .share {
    height: 16px;
    width: auto;
  }

  .avatar {
    border: 1px solid #4a525d;
    border-radius: 50%;

    img {
      height: 32px;
      width: 32px;
      padding: 4px 6px;
    }
  }
}

.icons {
  height: 16px;
  width: auto;
}

.tooltip {
  display: flex;
  padding: 8px 16px;
  background: #49556b;
  position: absolute;
  top: 0;
  visibility: hidden;
  border-radius: 8px;
  box-shadow: 0 10px 24px 8px #dfeaf0;
  div {
    margin: 0 8px;
  }
}

.tooltip:after {
  top: 100%;
  left: 43%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(73, 85, 107, 0);
  border-top-color: #49556b;
  border-width: 10px;
}

$break-small: 800px;

@media screen and (max-width: $break-small) {
  .card {
    flex-direction: column;
  }

  .right-section {
    width: 260px;
  }

  .drawers {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
    width: 340px;

    img {
      height: auto;
      width: inherit;
    }
  }
}
